{% extends 'base.html' %}
{% block content %}
<ul>
<h1>User Form</h1>
<form method="POST" >
        {% csrf_token %}
         <div class="form-row">
           <div class="col">
             <input type="text" class="form-control" name="username" value="" placeholder="username">
           </div>
           <div class="col">
             <input type="password" class="form-control" name="password" value=""  placeholder="password">
           </div>
         </div>
         <br>
         <div class="form-row">
           <div class="col">
             <input type="text" class="form-control" name="admintype"  placeholder="secret">
           </div>
           <div class="col">
            <input type="text" class="form-control" name="status"  placeholder="secret">
          </div>
           <div class="col">
                <select name="usertype" >'
                   <option value="1">Freelancer</option>  
                   <option value="2">Contractor</option>        
                </select>
           </div>
         </div>
         <br>
         <button type="submit" class="btn btn-primary">Add User</button>
       </form>
       
{% endblock content %}